.App {
  text-align: center;
  height: 100vh;
  background-color: #3C424A;
  color: #C3C5C6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo_container {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 30%;
}

.Input {
  margin: 2.5em 2em;
  width: 60%;
  height: '20px';
  outline: none;
  border: none;
  padding: 0.7em;
  border: black 1px solid;
  border-radius: 5px;
  background-color: #343A40;
  color: #C3C5C6;
}

.button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: rgb(226, 174, 226);
  height: 40px;
  width: 100px;
  font-size: 0.9rem;
  background-color: #F7F8FF;
}

.main_main_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 63%;
  width: 100%;
}

.main_container_received {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  border-radius: 5px;
  padding: 25px;
  overflow: auto;
  border: #282c34 2px solid;
}

.trash-icon {
  cursor: pointer;
}

.checkbox {
  appearance: none;
  background-color: #282c34;
  font: inherit;
  width: 0.85em;
  height: 0.85em;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  border: white 1px solid; 
  cursor: pointer;
}

.checkbox:checked {
  content: "";
  width: 0.85em;
  height: 0.85em;
  transform: scale(1.1);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: white;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

.test {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 6%;
  width: 100%;
  color: #C3C5C6;
}

.containerTabs {
  width: 10%;
  cursor: pointer;
  margin-bottom: 20px;
}

.Tabs {

}

.hrTab {
  border: 2px #282c34 solid;
}

.containerToDoList {
  display: flex;
  justify-content: space-between;
  height: auto;
  color: #C3C5C6;;
  padding: 5px;
  font-size: 17px;
  width: 100%;
  border-radius: 5px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.containerTodoItem {
  display: flex;
  flex: auto;
  margin-left: 15px;
  height: 13px
}

.todoItem {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.hr {
  width: 100%;
  border: 1.1px #343A40 solid;
}

.containerButtonDeleteTodos {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  width: 100%;
}

.buttonDeleteTodos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  white-space: nowrap;
  font-size: 0.9rem;
  background-color: #3C424A;
  color: #C3C5C6;
  border-radius: 5px;
  border: #282c34 2px solid;
  margin-bottom: 10px;
}